<html>

<head>

<title>Registration Forms</title>
</head>
<body>

  <h> Registration From </h>
  <form method ="post" action=" reg.php">
    <fieldset>
      <legend> <h>Signup</h></legend>
      <table>

   <tr>

<td>Name:</td>
<td><input type="text" name="username" value="" placeholder="type your name"/></td>
   </tr>
   <tr>
    <td>Email:</td>
    <td><input type="text" name="email" value="" /></td>
       </tr>



       <tr>
        <td> ID:</td>
        <td><input type="Number" name="id" value="" /></td>
           </tr>
          
            
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" value="" /></td>
                </tr>

            <tr>

                    <td>Confirm Password:</td>
                    <td><input type="Confirm password" name="Confirm password" value="" /></td>

                       </tr>

                       
                 </tr>

                 <td>User Type:</td>

                 <td>
                    <input type="radio" name="User" value=" ">User
                    <input type="radio" name="Admin" value=" ">Adminc

                   </td>
             </tr>

             <tr>
                <td> 

                </td>

               <td>
                <input type="Sign Up" name="Sign Up" value="Sign Up" />
                <input type="Sign In" name="Sign In" value="Sign In" />

               </td>

                </table>
                 </fieldset>

</form>
</body>
</html>